<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <script src="/assets/thyme@1.0.0.js"></script>
  <script>Thyme.locale = 'en';</script>
  <link rel="icon" type="image/svg" href="/assets/favicon.svg"/>
  <link rel="stylesheet" th:href="|/assets/app.min.css?${app.version}|"/>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">[[${app.name}]]</title>
</head>
<body>

<header>
  <main>
    <a href="/"><img class="logo" th:src="${app.logo}"/></a>
    <div class="search-bar">
      <input type="text" enterkeyhint="search" placeholder="Search..." maxlength="30" th:value="${condition?.keyword}"/>
      <script>
      const input = document.querySelector('.search-bar input');
      input.addEventListener("keydown", function(e) {
          if (e.key === 'Enter') {
              const keyword = input.value.trim();
              const pathname = location.pathname === '/~/metadata' ? '/~/metadata' : '/';
              location.href = keyword ? pathname + '?keyword=' + keyword : pathname;
          }
      });
    </script>
    </div>

    <nav>
      <menu>
        <a><img src="/assets/triangle.svg"/><span>Explore</span></a>
        <div><a class="tag-item" href="/starred">Starred</a><a class="tag-item" href="/explore">More...</a></div>
      </menu>
      <menu th:each="metafield: ${settings.metafields}" th:if="${metafield.enums != null}">
        <a><img src="/assets/triangle.svg"/><span>[[${metafield.label}]]</span></a>
        <div><a class="tag-item" th:each="enum: ${metafield.enums}" th:href="|/?${metafield.name}=${enum.code}|">[[${enum.label}]]</a></div>
      </menu>
      <menu th:if="${principal}">
        <a><img src="/assets/triangle.svg"/><span>Console</span></a>
        <div>
          <a class="tag-item" href="/~/metadata">Metadata</a>
          <a class="tag-item" href="/~/library">Library</a>
          <a class="tag-item" href="/~/settings">Settings</a>
          <hr><a class="tag-item" href="/~/logout">Logout</a>
        </div>
      </menu>
      <menu th:unless="${principal != null || app.hideLogin}">
        <a href="/~/login"><img src="/assets/circle-orange.svg"/><span>Login</span></a>
      </menu>
    </nav>
  </main>
</header>

<main layout:fragment="main"></main>
<footer>
  <main>
    <img class="logo" th:src="${app.logo}"/>
    <div th:utext="${app.description}"></div>
    <div th:utext="${app.copyright}"></div>
  </main>
</footer>
</body>
</html>