<div class="pager" th:if="${pagination.hasContent}">
  <div>
    <span>Page <b th:text="${pagination.pageNumber}"></b> of <b th:text="${pagination.totalPages}"></b></span>
    <span><b th:text="${pagination.totalRecords}"></b> Records</span>
  </div>

  <div>
    <a th:onclick="turnPage(1)">First</a>
    <a th:if="${pagination.hasPrevious}" th:onclick="turnPage([[${pagination.pageNumber-1}]])">Prev</a>

    <th:block th:each="n: ${pagination.pageSet}">
      <span th:if="${n == 0}">...</span>
      <a th:unless="${n == 0}" th:text="${n}" th:onclick="turnPage([[${n}]])" th:class="${n == pagination.pageNumber ? 'active' : ''}"></a>
    </th:block>

    <a th:if="${pagination.hasNext}" th:onclick="turnPage([[${pagination.pageNumber+1}]])">Next</a>
    <a th:onclick="turnPage([[${pagination.totalPages}]])">Last</a>
  </div>
</div>

<div class="pager" th:unless="${pagination.hasContent}">
  <div class="noresult"><i>No videos found.</i></div>
</div>

<script>
function turnPage(n) {
  const params = new URLSearchParams(location.search);
  params.set('page', n);
  location.href = '?' + params.toString();
}
</script>