<html layout:decorate="~{_layout}">
<head><title>发现</title></head>
<body>

<main layout:fragment="main">
  <th:block th:each="metafield: ${preference.metafields}" 
    th:with="tags = ${tagCloud[metafield.name]}"
    th:if="${metafield.name != 'issueDate' && metafield.enums == null}">

    <section th:if="${!#sets.isEmpty(tags)}">
      <h4>[[${metafield.label}]]</h4>
      <div class="tags"><a th:each="tag: ${tags}" th:href="|/?keyword=${tag}|">[[${tag}]]</a></div>
    </section>
  </th:block>
</main>

</body>
</html>