<html layout:decorate="~{_layout}">
<head><title>Explore</title></head>
<body>

<main layout:fragment="main">
  <th:block th:if="${tagCloud}">
    <th:block th:each="metafield: ${settings.metafields}"
      th:with="tags = ${tagCloud[metafield.name]}"
      th:if="${metafield.name != 'issueDate' && metafield.enums == null}">

      <th:block th:if="${!#sets.isEmpty(tags)}">
        <div class="headline"><h3>[[${metafield.label}]]</h3></div>
        <section class="tags"><a th:each="tag: ${tags}" th:href="|/?${metafield.name}=${tag}|">[[${tag}]]</a></section>
      </th:block>
    </th:block>
  </th:block>
</main>

</body>
</html>