<html layout:decorate="~{_layout}">
<body>

<main layout:fragment="main">
  <div class="covers">
    <a class="cover" th:each="metadata: ${pagination.content}" th:href="|/${metadata.code}|">
      <div class="thumb" th:style="|background-image:url(/cover/${metadata.id})|">
        <div class="quality" th:if="${metadata.quality.code>720}">[[${metadata.quality.label}]]</div>
        <div class="duration">[[${@utils.formatDuration(metadata.mediaInfo.duration)}]]</div>
      </div>
      <div class="caption">
        <div class="footnote has-items">
          <span>[[${#temporals.format(metadata.fileTime, 'yyyy-MM-dd')}]]</span>
          <span>[[${@utils.formatSiBytes(metadata.fileSize)}]]</span>
          <span th:if="${metadata.starred}"><img src="/assets/circle.svg"/></span>
        </div>
        <div class="title">[[${metadata.title}]]</div>
      </div>
    </a>
  </div>

  <div th:replace="~{_pager}"></div>
</main>

</body>
</html>