<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <script src="//cdn.unpkg.net/~metadream/thyme@0.0.12/dist/thyme.js"></script>
  <link rel="icon" type="image/svg" href="/assets/favicon.svg"/>
  <link rel="stylesheet" href="/assets/puffin.css"/>
  <title>初始化 - [[${appName}]]</title>
</head>

<body class="layout-center">
  <div class="front-panel" style="width:500px">
    <h2>初始化</h2>
    <th-field label="管理员账号" name="username" maxlength="20" required></th-field>
    <th-field label="管理员密码" name="password" type="password" maxlength="20" required></th-field>
    <th-field label="媒体库路径" name="library" maxlength="120" required></th-field>
    
    <p></p><div>可选元数据属性<br>
      <span class="tiny-title">勾选项将作为媒体元数据的附加属性，对媒体进行多维度分类或查询。</span>
    </div>
    <div class="metafields">
      <label th:each="metafield: ${Metafields}">
        <input type="checkbox" name="metafields" th:value="${metafield.name}"/>
        <span>[[${metafield.label}]]</span>
      </label>
    </div>
    <p></p><div>
      <label><input type="checkbox" name="syncRenameFile" value="true"/>使用“编号_标题”对文件进行重命名</label>
      <div class="tiny-title">勾选此项后，修改元数据时将同步修改硬盘中的实体文件名。</div>
    </div>
    <th-button onclick="init(this)">确定</th-button>
  </div>
</body>
</html>

<script>
async function init(btn) {
  const data = Thyme.form.getJsonObject('.front-panel');
  if (!data) return;
  data.metafields = data.metafields?.split(',');
  btn.loading = true;
  try {
    await Thyme.http.put('/preference', data);
    location.href = '/metadata?init';
  } finally {
    btn.loading = false;
  }
}
</script>