<html layout:decorate="~{_layout}">
<head><title>Library</title></head>
<body>

<main layout:fragment="main">
  <div class="headline"><h3>Library</h3></div>

  <section class="loose">
    <div class="scan-progress">
      <div>Current library：[[${settings.library}]]</div>
      <div class="progress"><div id="progress"></div></div>
      <div class="footnote">&#8203;</div>
    </div>
    <div class="scan-options">
      <div>
        <th-checkbox name="forceReindexing" value="true">Force reindexing</th-checkbox>
        <span class="footnote">Enable this option to rebuild indexes even if they already exist.</span>
      </div>
      <div>
        <th-checkbox name="cleanIndexes" value="true">Clean indexes</th-checkbox>
        <span class="footnote">Enable this option to remove orphaned indexes (missing associated files).</span>
      </div>
    </div>
  </section>

  <div class="footline">
    <th-button class="outlined" variant="outlined" onclick="clearLogs(this)">Clear Logs</th-button>
    <th-button class="outlined" variant="outlined" onclick="abortScan()">Abort Scan</th-button>
    <th-button onclick="startScan(this)">Start Scan</th-button>
  </div>

  <section>
    <table class="logs">
      <tr><th width="170"></th><th width="90"></th><th width="170"></th><th></th></tr>
    </table>
  </section>
</main>
</body>
</html>

<script>
const $progress = document.querySelector('#progress');
const $footnote = document.querySelector('.footnote');
const $logs = document.querySelector('.logs');

const channel = new Thyme.Channel('/channel/library');
channel.on('message', data => showLogs(data));

function startScan() {
  Thyme.confirm('Scanning the library may take a long time. <br>Are you sure you want to continue?', async () => {
    $progress.removeClass('finished');
    const options = Thyme.form.getJsonObject('.scan-options');
    Thyme.http.post('/~/library', options);
    // $scanBtn.innerHTML = '正在扫描';
    // $scanBtn.disabled = true;
    // $abortBtn.disabled = false;
  });
}

function showLogs(data) {
  const { source, state } = data;
  if (state.name != 'FINISHED') {
    const row = $logs.insertRow(1);
    row.insertCell().innerHTML = data.time;
    row.insertCell().innerHTML = `<span class="number">${data.count}/${data.total}</span>`;
    row.insertCell().innerHTML = `<span class="${state.name}">${source.label} ${state.label}</span>`;
    row.insertCell().innerHTML = `<span class="${state.name}">${data.hint?data.hint+': ':''} ${data.path}</span>`;
    $progress.style.width = data.progress + '%';
    $footnote.innerHTML = `${data.count}/${data.total} ${data.path}`;
  } else {
    $progress.addClass('finished');
    $footnote.innerHTML = `${data.total} files found: ${data.indexed} indexed, ${data.reindexed} reindexed, ${data.skipped} skipped, and ${data.failed} failed.`;
  }
}
</script>