<html layout:decorate="~{_layout}">
<head><title>Library</title></head>
<body>

<main layout:fragment="main">
  <div class="headline"><h3>Library</h3></div>

  <section class="loose">
    <div class="scan-progress">
      <div>Current library：[[${settings.library}]]</div>
      <div class="progress"><div id="progress"></div></div>
      <div class="footnote">&#8203;</div>
    </div>
    <div class="scan-options">
      <div>
        <th-checkbox name="forceReindexing" value="true">Force reindexing</th-checkbox>
        <span class="footnote">Enable this option to rebuild indexes even if they already exist.</span>
      </div>
      <div>
        <th-checkbox name="cleanIndexes" value="true">Clean indexes</th-checkbox>
        <span class="footnote">Enable this option to remove orphaned indexes (missing associated files).</span>
      </div>
    </div>
  </section>

  <div class="footline">
    <th-button id="abortBtn" class="outlined" variant="outlined" onclick="abortScan()" disabled>Abort Scan</th-button>
    <th-button id="scanBtn" onclick="startScan(this)" disabled>Start Scan</th-button>
  </div>
</main>
</body>
</html>

<script>
const autoScan = [[${autoScan}]];
const $progress = document.querySelector('#progress');
const $scanBtn = document.querySelector('#scanBtn');
const $abortBtn = document.querySelector('#abortBtn');
const $footnote = document.querySelector('.footnote');

const channel = new Thyme.Channel('/channel/library');
channel.on('state', locked => {
  $scanBtn.disabled = locked;
  $abortBtn.disabled = !locked;
});

channel.on('message', data => {
  let $logs = document.querySelector('section.logs');
  if (!$logs) {
      $logs = Thyme.util.createElement('<section class="loose logs"></section>');
      document.querySelector('body>main').append($logs);
  }

  const { source, state } = data;
  if (state.name != 'FINISHED') {
    const log = insertFirst(document.createElement('div'), $logs);
    log.innerHTML = `
      <span>${data.time}</span><span>${data.count}/${data.total}</span>
      <span class="${state.name}">${source.label} ${state.label}</span>
      <span class="${state.name}">${data.hint?data.hint+': ':''} ${data.path}</span>
    `;
    $progress.removeClass('finished');
    $progress.addClass('processing');
    $progress.style.width = data.progress + '%';
    $footnote.innerHTML = `${data.count}/${data.total} ${data.path}`;
  } else {
    if (data.total === 0) {
      $footnote.innerHTML = data.hint;
    } else {
      $progress.removeClass('processing');
      $progress.addClass('finished');
      $footnote.innerHTML = `${data.total} files found: ${data.indexed} indexed, ${data.reindexed} reindexed, ${data.deleted} deleted, ${data.skipped} skipped, and ${data.failed} failed.`;
    }
  }
});

if (autoScan) {
    const options = { forceReindexing:true, cleanIndexes: true };
    const form = document.querySelector('.scan-options');
    Thyme.form.setJsonObject(form, options);
    Thyme.http.post('/~/library', options);
}

function startScan() {
  Thyme.confirm('Scanning the library may take a long time. <br>Are you sure you want to continue?', () => {
    $progress.removeClass('finished');
    $progress.removeClass('processing');
    $progress.style.width = 0;
    const options = Thyme.form.getJsonObject('.scan-options');
    Thyme.http.post('/~/library', options);
  });
}

function abortScan() {
    Thyme.http.patch('/~/library');
}

function insertFirst(element, parent) {
  parent.insertBefore(element, parent.firstChild || null);
  return element;
}
</script>