<html layout:decorate="~{_layout}">
<head><title>Login</title></head>
<body>

<main layout:fragment="main" style="display:flex">
  <div class="front-panel" style="width:380px">
    <th-field label="Username" name="username" maxlength="20" required autofocus></th-field>
    <th-field label="Password" name="password" maxlength="20" type="password" required></th-field>
    <th-button>Login</th-button>
  </div>
</main>

</body>
</html>

<script>
const $username = document.querySelector('[name="username"]');
const $password = document.querySelector('[name="password"]');
const $loginBtn = document.querySelector('th-button');
$loginBtn.onclick = login;
$username.onkeyup = $password.onkeyup = function(e) {
  if (e.keyCode === 13) login();
};

async function login() {
  const data = Thyme.form.getJsonObject('.front-panel');
  if (!data) return;

  try {
    $loginBtn.loading = true;
    await Thyme.http.post('/~/login', data);
    location.href = '/~/metadata';
  } finally {
    $loginBtn.loading = false;
  }
}
</script>