<html layout:decorate="~{_layout}">
<head><title>元数据</title></head>
<body>

<main layout:fragment="main">
  <div class="headline">
    <h3>元数据</h3>
    <div class="buttons">
      <th-button onclick="scanLibrary()" id="scanBtn">扫描媒体库</th-button>
      <th-button onclick="preferenceDialog.open()">偏好设置</th-button>
    </div>
  </div>

  <table class="list">
    <tr>
      <th width="13%">编号</th>
      <th>标题</th>
      <th width="10%" th:each="metafield: ${preference.metafields}" th:if="${metafield.enums != null}">
        [[${metafield.label}]]
      </th>
      <th width="10%" style="text-align:right">大小</th>
      <th width="4%"></th>
    </tr>
    <tr class="metadata" th:each="metadata: ${pagination.content}">
      <td>[[${metadata.code}]]</td>
      <td>[[${metadata.title}]]</td>
      <td th:each="metafield: ${preference.metafields}" th:if="${metafield.enums != null}" 
        th:with="enum=${metadata[metafield.name]}">
        <span th:if="${enum}">[[${enum.label}]]</span>
      </td>
      <td style="text-align:right">[[${metadata.mediaInfo?.size}]]</td>
      <td style="text-align:center"><img src="/assets/circle.svg" th:if="${metadata.starred}"/></td>
    </tr>
  </table>
  
  <div th:replace="_pager"></div>

  <th-dialog id="preference-dialog">
    <div class="front-panel preference" style="width:450px">
      <th-field label="管理员账号" name="username" th:value="${preference.username}" maxlength="20" required></th-field>
      <th-field label="管理员密码" name="password" placeholder="无需修改密码则留空" type="password" maxlength="20"></th-field>
      <th-field label="媒体库路径" name="library" th:value="${preference.library}" maxlength="120" required></th-field>
      
      <p></p><div>可选元数据属性<br>
        <span class="tiny-title">勾选项将作为媒体元数据的附加属性，对媒体进行多维度分类或查询。</span>
      </div>
      <div class="metafields">
        <label th:each="metafield: ${Metafields}">
          <input type="checkbox" name="metafields" th:value="${metafield.name}"
           th:checked="${#lists.contains(metafields, metafield.name)}"/>
          <span>[[${metafield.label}]]</span>
        </label>
      </div>
      <p></p><div>
        <label><input type="checkbox" name="syncRenameFile" value="true" th:checked="${preference.syncRenameFile}"/>使用“编号_标题”对文件进行重命名</label>
        <div class="tiny-title">勾选此项后，修改元数据时将同步修改硬盘中的实体文件名。</div>
      </div>
    </div>
  </th-dialog>
</main>

</body>
</html>

<script>
const preferenceDialog = document.querySelector('#preference-dialog');
preferenceDialog.buttons = [{
  label: '取消'
}, {
  label: '保存',
  primary: true,
  onclick: async (dlg) => {
    const data = Thyme.form.getJsonObject(dlg);
    if (!data) return;
    
    data.metafields = data.metafields?.split(',');
    data.password = data.password || '********';
    await Thyme.http.put('/preference', data);
    dlg.hide();
    location.reload();
  }
}];

function turnPage(n) {
  const params = new URLSearchParams(location.search);
  params.set('page', n);
  location.href = '?' + params.toString();
}
</script>