<html layout:decorate="~{_layout}">
<head><title>Metadata</title></head>
<body>

<main layout:fragment="main">
  <div class="headline"><h3>Metadata</h3></div>

  <section class="metadata">
    <table class="list">
      <tr>
        <th class="starred"></th>
        <th width="11%">No.</th>
        <th>Title</th>
        <th width="10%" th:each="metafield: ${settings.metafields}" th:if="${metafield.enums != null}">
          [[${metafield.label}]]
        </th>
        <th width="9%" style="text-align:right">Size</th>
        <th width="9%" style="text-align:right">Duration</th>
      </tr>
      <tr th:each="metadata: ${pagination.content}">
        <td class="starred"><img src="/assets/circle.svg" th:if="${metadata.starred}"/></td>
        <td><a class="code" target="_blank" th:href="@{|/${metadata.code}|}">[[${metadata.code}]]</a></td>
        <td><a th:onclick="openMetadata([[${metadata}]])">[[${metadata.title}]]</a></td>
        <td th:each="metafield: ${settings.metafields}" th:if="${metafield.enums != null}"
          th:with="enum=${metadata[metafield.name]}"><span th:if="${enum}">[[${enum.label}]]</span>
        </td>
        <td style="text-align:right">[[${@utils.formatSiBytes(metadata.fileSize)}]]</td>
        <td style="text-align:right">[[${@utils.formatDuration(metadata.mediaInfo.duration)}]]</td>
      </tr>
    </table>

    <div th:replace="~{_pager}"></div>
  </section>

  <th-dialog id="meta-dialog">
    <div class="metadata-editor">
      <div style="width:180px">
        <div class="uploader">
          <div onclick="document.querySelector('#file').click()">
            <input type="file" id="file" accept="image/*" onchange="upload(this.files[0])"/>
            <span>Upload Cover</span>
          </div>
        </div>

        <table class="media-info">
          <tr><th colspan="2">General</th></tr>
          <tr><td>Duration:</td><td id="duration"></td></tr>
          <tr><td>Format:</td><td id="format"></td></tr>
          <tr><th colspan="2">Video</th></tr>
          <tr><td>Codec:</td><td><span id="vcodec"></span></td></tr>
          <tr><td>Dimensions:</td><td><span id="dimension"></span></td></tr>
          <tr><td>Bit Rate:</td><td><span id="vBitRate"></span> kbps</td></tr>
          <tr><td>Frame Rate:</td><td><span id="frameRate"></span> fps</td></tr>
          <tr><th colspan="2">Audio</th></tr>
          <tr><td>Codec:</td><td><span id="acodec"></span></td></tr>
          <tr><td>Channels:</td><td><span id="channels"></span></td></tr>
          <tr><td>Bit Rate:</td><td><span id="aBitRate"></span> kbps</td></tr>
          <tr><td>Sample Rate:</td><td><span id="samplingRate"></span> fps</td></tr>
        </table>
      </div>

      <div class="fields">
        <input type="hidden" name="id"/>
        <th-field label="No." name="code" maxlength="20" required></th-field>
        <th-field label="Starred"><th-switch name="starred"></th-switch></th-field>
        <th-field label="Title" name="title" maxlength="120" class="exclusive" required></th-field>

        <th:block th:each="metafield: ${settings.metafields}">
           <th-select th:if="${metafield.enums != null}" th:label="${metafield.label}" th:name="${metafield.name}">
             <option></option>
             <option th:each="enum: ${metafield.enums}" th:value="${enum.code}">[[${enum.label}]]</option>
           </th-select>
           <th-field th:if="${metafield.name != 'issueDate' && metafield.enums == null}" class="exclusive"
            th:label="${metafield.label}" th:name="${metafield.name}" placeholder="Separate multiple entries with commas."></th-field>
           <th-calendar th:if="${metafield.name == 'issueDate'}" th:label="${metafield.label}" th:name="${metafield.name}">
           </th-calendar>
        </th:block>

        <th-field label="Path" name="filePath" class="exclusive" disabled></th-field>
      </div>
    </div>
  </th-dialog>
</main>

</body>
</html>

<script>
const metaDialog = document.querySelector('#meta-dialog');
const cover = metaDialog.querySelector('.uploader>div');

metaDialog.buttons = [{
  label: 'Cancel'
}, {
  label: 'Update',
  primary: true,
  onclick: async function(dlg) {
    const data = Thyme.form.getJsonObject(dlg);
    if (!data) return;

    data.producers = toArray(data.producers);
    data.directors = toArray(data.directors);
    data.starring = toArray(data.starring);
    data.series = toArray(data.series);
    data.genres = toArray(data.genres);
    data.tags = toArray(data.tags);

    await Thyme.http.put('/~/metadata', data);
    location.reload();
  }
}];

function openMetadata(metadata) {
  metadata.region = metadata.region?.code;
  metadata.quality = metadata.quality?.code;
  metadata.censorship = metadata.censorship?.code;
  metaDialog.querySelector('[name="filePath"]').title = metadata.filePath;
  Thyme.form.setJsonObject(metaDialog, metadata);

  const { video, audio } = metadata.mediaInfo;
  cover.style.backgroundImage = `url(/cover/${metadata.id})`;
  metaDialog.querySelector('#duration').innerHTML = Thyme.util.formatSeconds(metadata.mediaInfo.duration/1000);
  metaDialog.querySelector('#format').innerHTML = metadata.mediaInfo.format;
  metaDialog.querySelector('#vcodec').innerHTML = video.decoder;
  metaDialog.querySelector('#dimension').innerHTML = video.width +' × '+ video.height;
  metaDialog.querySelector('#vBitRate').innerHTML = Math.round(video.bitRate/1000);
  metaDialog.querySelector('#frameRate').innerHTML = video.frameRate;
  metaDialog.querySelector('#acodec').innerHTML = audio?.decoder || '';
  metaDialog.querySelector('#channels').innerHTML = audio?.channels || '';
  metaDialog.querySelector('#aBitRate').innerHTML = audio ? Math.round(audio.bitRate/1000) : 0;
  metaDialog.querySelector('#samplingRate').innerHTML = audio?.samplingRate || 0;
  metaDialog.open();
}

function upload(file) {
  const id = metaDialog.querySelector('[name="id"]').value;
  const fd = new FormData();
  fd.append('multipartFile', file);
  Thyme.http.put('/~/metadata/'+id, fd).then(res => {
    cover.style.backgroundImage = `url(/cover/${id}?${Date.now()})`;
  });
}

function toArray(str) {
  return str ? str.split(/\s*[,，]\s*/).filter(v => !!v) : null;
}

function turnPage(n) {
  const params = new URLSearchParams(location.search);
  params.set('page', n);
  location.href = '?' + params.toString();
}
</script>