<html layout:decorate="~{_layout}">
<head><title>元数据</title></head>
<body>

<main layout:fragment="main" th:with="Numbers=${T(com.arraywork.springforce.util.Numbers)}">
  <div class="headline">
    <h3>元数据</h3>
    <div class="buttons">
      <th-button onclick="scanLibrary()" id="scanBtn">扫描媒体库</th-button>
      <th-button onclick="prefsDialog.open()">偏好设置</th-button>
    </div>
  </div>

  <table class="list">
    <tr>
      <th width="13%">编号</th>
      <th>标题</th>
      <th width="10%" th:each="metafield: ${preference.metafields}" th:if="${metafield.enums != null}">
        [[${metafield.label}]]
      </th>
      <th width="10%" style="text-align:right">大小</th>
      <th width="4%"></th>
    </tr>
    <tr class="metadata" th:each="metadata: ${pagination.content}" th:onclick="openMetadata([[${metadata}]])">
      <td><a th:href="@{|/${metadata.code}|}">[[${metadata.code}]]</a></td>
      <td>[[${metadata.title}]]</td>
      <td th:each="metafield: ${preference.metafields}" th:if="${metafield.enums != null}"
        th:with="enum=${metadata[metafield.name]}"><span th:if="${enum}">[[${enum.label}]]</span>
      </td>
      <td style="text-align:right">[[${Numbers.formatSiBytes(metadata.fileSize)}]]</td>
      <td style="text-align:center"><img src="/assets/circle.svg" th:if="${metadata.starred}"/></td>
    </tr>
  </table>

  <div th:replace="~{_pager}"></div>

  <th-dialog id="metadata-dialog">
    <div class="metadata-editor">
      <div class="uploader">
        <div onclick="document.querySelector('#file').click()" style="background-image:url()">
          <input type="file" id="file" accept="image/\*" onchange="preview(this.files[0])"/>
          <span>上传封面</span>
        </div>
      </div>
      <div class="fields">
        <input type="hidden" name="id"/>
        <th-field label="编号" name="code" maxlength="20" required></th-field>
        <th-calendar th:if="${#lists.contains(metafields,'issueDate')}" label="发行日" name="issueDate"></th-calendar>
        <th-field label="标题" name="title" maxlength="120" class="exclusive" required></th-field>
        <th-field label="路径" name="filePath" class="exclusive" disabled></th-field>

        <th:block th:each="metafield: ${preference.metafields}">
           <th-select th:if="${metafield.enums != null}" th:label="${metafield.label}" th:name="${metafield.name}">
             <option></option>
             <option th:each="enum: ${metafield.enums}" th:value="${enum}">[[${enum.label}]]</option>
           </th-select>
           <th-field class="exclusive" th:if="${metafield.name != 'issueDate' && metafield.enums == null}"
            th:label="${metafield.label}" th:name="${metafield.name}"></th-field>
        </th:block>
      </div>
    </div>
  </th-dialog>

  <th-dialog id="prefs-dialog">
    <div class="front-panel preference" style="width:450px">
      <th-field label="管理员账号" name="username" th:value="${preference.username}" maxlength="20" required></th-field>
      <th-field label="管理员密码" name="password" placeholder="无需修改密码则留空" type="password" maxlength="20"></th-field>
      <th-field label="媒体库路径" name="library" th:value="${preference.library}" maxlength="120" required
        th:data-value="${preference.library}"></th-field>

      <p></p><div>可选元数据属性<br>
        <span class="tiny-title">勾选项将作为元数据的附加属性，对媒体进行多维度分类查询。</span>
      </div>
      <div class="metafields">
        <label th:each="metafield: ${Metafields}">
          <input type="checkbox" name="metafields" th:value="${metafield.name}"
           th:checked="${#lists.contains(metafields, metafield.name)}"/>
          <span>[[${metafield.label}]]</span>
        </label>
      </div>
      <p></p><div>
        <label><input type="checkbox" name="autoGenerateCode" value="true"
         th:checked="${preference.autoGenerateCode}"/>自动生成元数据编号</label>
        <div class="tiny-title">勾选此项后，保存元数据时将自动对无编号的记录生成随机编号。</div>
      </div>
      <p></p><div>
        <label><input type="checkbox" name="autoRenameFile" value="true"
         th:checked="${preference.autoRenameFile}"//>自动使用“编号_标题”对文件重命名</label>
        <div class="tiny-title">勾选此项后，保存元数据时将自动对硬盘中的实体文件重命名。</div>
      </div>
    </div>
  </th-dialog>
</main>

</body>
</html>

<script>
const metadataDialog = document.querySelector('#metadata-dialog');
const prefsDialog = document.querySelector('#prefs-dialog');

metadataDialog.buttons = [{
  label: '取消'
}, {
  label: '保存',
  primary: true,
  onclick: async function(dlg) {
    const data = Thyme.form.getJsonObject(dlg);
    if (!data) return;
    data.producers = data.producers?.split(',');
    data.directors = data.directors?.split(',');
    data.starring = data.starring?.split(',');
    data.genres = data.genres?.split(',');
    data.tags = data.tags?.split(',');

    await Thyme.http.put('/metadata', data);
    location.reload();
  }
}];

prefsDialog.buttons = [{
  label: '取消'
}, {
  label: '保存',
  primary: true,
  onclick: async (dlg) => {
    const data = Thyme.form.getJsonObject(dlg);
    if (!data) return;
    data.metafields = data.metafields?.split(',');

    await Thyme.http.put('/preference', data);
    dlg.hide();
    location.reload();
  }
}];

function openMetadata(metadata) {
  console.log(metadata);
  bindModel(metadataDialog, metadata);
  metadataDialog.open();
}

function turnPage(n) {
  const params = new URLSearchParams(location.search);
  params.set('page', n);
  location.href = '?' + params.toString();
}
</script>