<html layout:decorate="~{_layout}">
<head><title>Settings</title></head>
<body>

<main layout:fragment="main">
  <div class="headline"><h3>Settings</h3></div>

  <section class="loose">
    <th-field style="max-width:400px" label="Username" name="username" maxlength="20" th:value="${settings.username}" required></th-field>
    <th-field style="max-width:400px" label="Password" name="password" type="password" maxlength="20" placeholder="Leave blank if no change needed."></th-field>
    <th-field label="Library" name="library" maxlength="120" th:value="${settings.library}" th:data-value="${settings.library}" required></th-field>

    <div>
      <h4>Metafields</h4>
      <span class="footnote">The selected items will serve as additional metadata attributes for multi-dimensional classification and retrieval of media.</span>
    </div>
    <div class="metafields">
      <th-checkbox th:each="metafield: ${Metafields}" name="metafields" th:value="${metafield.name}" th:checked="${#lists.contains(metafields, metafield.name)}">[[${metafield.label}]]</th-checkbox>
    </div>
    <div>
      <th-checkbox name="autoRename" value="true" th:checked="${settings.autoRename}">Automatically Rename</th-checkbox>
      <div class="footnote">Enable this option to automatically rename physical files on the disk using the “[Code] Title” format when saving metadata.</div>
    </div>
  </section>

  <div class="footline">
    <th-button onclick="update(this)">Update</th-button>
  </div>
</main>
</body>
</html>

<script>
function update(btn) {
  const data = Thyme.form.getJsonObject('section');
  if (!data) return;
  data.metafields = data.metafields?.split(',') || [];

  const library = document.querySelector('[name="library"]').dataset.value;
  if (data.library !== library) {
    Thyme.confirm('<b class="DANGER">Changing the library will automatically start scan to clear all metadata and rebuild the indexes. <br>Are you sure you want to continue?</b>',
    () => save(btn, data, true));
  } else {
    save(btn, data);
  }
}

async function save(btn, data, isLibraryChanged) {
  try {
    btn.loading = true;
    await Thyme.http.put('/~/settings', data);

    if (isLibraryChanged) {
      location.href = '/~/library?autoScan=true';
    } else {
      Thyme.alert('Update successful', () => location.reload());
    }
  } finally {
    btn.loading = false;
  }
}
</script>