<html layout:decorate="~{_layout}">
<head>
  <title>[[${metadata.title}]]</title>
  <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
  <style>.fluid_fluid_control_duration { font-family: Monda !important; }</style>
</head>
<body>

<main class="detail" layout:fragment="main" th:object="${metadata.mediaInfo}">
  <div class="thread">
    <h3>[[${metadata.title}]]</h3>
    <div class="footnote has-items">
      <span>[[${#dates.format(metadata.fileTime, 'yyyy-MM-dd HH:mm')}]]</span>
      <span>[[${@utils.formatSiBytes(metadata.fileSize)}]]</span>
      <span>[[*{video.width}]]×[[*{video.height}]]</span>
      <span>[[${@utils.formatDuration(metadata.mediaInfo.duration)}]]</span>
      <span th:if="${metadata.starred}" class="right"><img src="/assets/circle-orange.svg"/></span>
    </div>

    <video id="vid" th:poster="|/cover/${metadata.id}|" controlslist="nodownload" controls muted autoplay autofocus>
      <source th:src="|/video/${metadata.id}|" type="video/mp4">
    </video>
  </div>

  <div class="metadata">
    <table>
      <tr><th width="100">Code:</th><td>[[${metadata.code}]]</td></tr>
      <th:block th:each="metafield: ${settings.metafields}" th:with="value=${metadata[metafield.name]}">
        <tr th:if="${value}">
          <th>[[${metafield.label}]]:</th>
          <td th:if="${metafield.enums}">
            <a th:href="|/?${metafield.name}=${value.code}|">[[${value.label}]]</a>
          </td>
          <td th:unless="${metafield.enums}" class="tags">
            <a th:each="tag:${value}" th:href="|/?${metafield.name}=${tag}|">[[${tag}]]</a>
          </td>
        </tr>
      </th:block>
    </table>
  </div>
</main>

</body>
</html>

<script>
fluidPlayer('vid',	{
  "layoutControls": {
    primaryColor: 'var(--primary-color)',
    roundedCorners: 'var(--border-radius)',
    allowTheatre: false,
	},
  "vastOptions": {
    "adList": [{
      "roll": "preRoll",
      "vastTag": "https://s.magsrv.com/v1/vast.php?idzone=5596784",
    }]
  }
});

const source = document.querySelector('source');
source.on('error', function() {
  Thyme.error('Unsupported video source');
});
</script>