<html layout:decorate="~{_layout}">
<head><title>[[${metadata.title}]]</title></head>
<body>

<main class="detail" layout:fragment="main" th:object="${metadata.mediaInfo}">
  <div class="thread">
    <h3>[[${metadata.title}]]</h3>
    <div class="footnote has-items">
      <span>[[${#dates.format(metadata.fileTime, 'yyyy-MM-dd HH:mm')}]]</span>
      <span>[[${@utils.formatSiBytes(metadata.fileSize)}]]</span>
      <span>[[*{video.width}]]×[[*{video.height}]]</span>
      <span>[[${@utils.formatDuration(metadata.mediaInfo.duration)}]]</span>
      <span th:if="${metadata.starred}" class="right"><img src="/assets/circle-orange.svg"/></span>
    </div>

    <video th:src="|/video/${metadata.id}|" th:poster="|/cover/${metadata.id}|" controlslist="nodownload" controls muted autoplay autofocus></video>
  </div>

  <div class="metadata">
    <table>
      <tr><th width="100">Code:</th><td>[[${metadata.code}]]</td></tr>
      <th:block th:each="metafield: ${settings.metafields}" th:with="value=${metadata[metafield.name]}">
        <tr th:if="${value}">
          <th>[[${metafield.label}]]:</th>
          <td th:if="${metafield.enums}">
            <a th:href="|/?${metafield.name}=${value.code}|">[[${value.label}]]</a>
          </td>
          <td th:unless="${metafield.enums}" class="tags">
            <a th:each="tag:${value}" th:href="|/?${metafield.name}=${tag}|">[[${tag}]]</a>
          </td>
        </tr>
      </th:block>
    </table>
  </div>
</main>

</body>
</html>

<script>
const video = document.querySelector('video');
video.setAttribute('preload', 'auto');
video.on('error', function() {
  Thyme.error('Unsupported video format');
});
</script>