<html layout:decorate="~{_layout}">
<head><title>[[${metadata.title}]]</title></head>
<body>

<main class="detail" layout:fragment="main" th:object="${metadata.mediaInfo}">
  <div class="thread">
    <h3>[[${metadata.title}]]</h3>
    <div class="footnote">
      <span>[[${#temporals.format(metadata.lastModified, 'yyyy-MM-dd HH:mm')}]]</span>
      <span>[[${@utils.formatSiBytes(metadata.fileSize)}]]</span>
      <span>[[*{video.width}]]×[[*{video.height}]]</span>
      <span>[[${@utils.formatDuration(metadata.mediaInfo.duration)}]]</span>
      <span th:if="${metadata.starred}" class="right"><img src="/assets/circle.svg"/></span>
    </div>

    <video th:src="|/video/${metadata.id}|" th:poster="|/cover/${metadata.id}|" controlslist="nodownload" controls muted autoplay autofocus></video>
  </div>

  <div class="metadata">
    <div class="prop">
      <label>Code:</label>
      <div>[[${metadata.code}]]</div>
    </div>

    <th:block th:each="metafield: ${settings.metafields}" th:with="value=${metadata[metafield.name]}">
      <div class="prop" th:if="${value}">
        <label>[[${metafield.label}]]:</label>
        <div th:if="${metafield.enums}">
          <a th:href="|/?${metafield.name}=${value.code}|">[[${value.label}]]</a>
        </div>
        <div th:unless="${metafield.enums}" class="tags">
          <a th:each="tag:${value}" th:href="|/?${metafield.name}=${tag}|">[[${tag}]]</a>
        </div>
      </div>
    </th:block>
  </div>
</main>

</body>
</html>

<script>
const video = document.querySelector('video');
video.setAttribute('preload', 'auto');

document.addEventListener('keyup', function(e) {
  switch(e.keyCode) {
    case 37: video.currentTime -= 5; e.preventDefault(); break;
    case 39: video.currentTime += 5; e.preventDefault(); break;
    default: break;
  }
});

video.on('error', function() {
  Thyme.error('Unsupported video format');
});
</script>